@tailwind base;
@tailwind components;
@tailwind utilities;

/* TailwindのリセットCSSを上書きする */
/* https://unpkg.com/tailwindcss@3.3.3/src/css/preflight.css */

:root {
  --base-line-height: 1.75;
}

html {
  line-height: var(--base-line-height);
}

body {
  line-height: inherit;
}

/* utils */
/* -------------------------------------------------------- */

.marker {
  --start: 10%;
  --end: 35%;

  background: linear-gradient(
    to top,
    transparent 0%,
    transparent var(--start),
    theme(colors.marker) var(--start),
    theme(colors.marker) var(--end),
    transparent var(--end),
    transparent 100%
  );
}

.card-shadow {
  box-shadow: 0px 2px 25px -15px rgba(0, 0, 0, 0.2);
}
